SUPABASE_URL=https://ffesdyilhnakylomsugz.supabase.co
SUPABASE_SERVICE_ROLE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImZmZXNkeWlsaG5ha3lsb21zdWd6Iiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc4MjMwMzAyMSwiZXhwIjoyMDk3ODc5MDIxfQ.3Be-3qrr37xpDPUeIA9Wd4SRbpbIgPeoJ3wRr-t9DGo
PORT=3001
